/.DS_Store
/index.php
/uploads/
/upgrade/
.DS_Store

/.sass-cache


/themes/v5/.sass-cache/
/themes/v5/codekit-config.json
/themes/v6/codekit-config.json

timothybsmith_site.sublime-project
timothybsmith_site.sublime-workspace
/themes/v6.5/codekit-config.json