$borderColor: #eee;
$darkColor: #383d40;
$linkColor: #f46333;
$jazzColor:#70c0cb;
$gray: #333;
$warningRed: #e54a4f;

a, .send {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}