
.page-template-contact-php {
  .freelance-availability {
    display: none;
  }
}

.dot {
  background: #444;
  border-radius: 30px;
  display: inline-block;
  width: 12px; height: 12px;
  margin: 0 2% 0 10%;
  @media screen and (max-width: 700px ) {
    margin: 0 2% 0 0;
  }
  + p {
    display: inline-block;
    margin-left: 0;
  }
  &.yes {
    background: #74c167;
  }
  &.no {
    background: #e54a4f;
  }
}

// Contact Form Styles

.gform_wrapper {
  border-top: 1px solid $borderColor;
  padding: 5% 0 0;
  margin: 5% 0 0 10%;
  @media screen and (max-width: 700px ) {
    margin: 5% 0 0;
  }
}

.gform_body {
  padding: 0 1px;
  label {
    line-height: 1;
  }
}

#gform_fields_1 {
  list-style-type: none;
  margin: 0;
}

.gfield {
  margin: 0 0 02.34375%;
}

.gfield_label {
  display: block;
  font-weight: bold;
  margin: 0 0 02.34375%;
}

.ginput_left {
  width: 50%;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  label {
    color: lighten($darkColor, 45%);
    font-weight: bold;
    font-size: .75em;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }
}

.ginput_right {
  width: 50%;
  display: inline-block;
  position: relative;
  padding-left: 5px;
  label {
    color: lighten($darkColor, 45%);
    font-weight: bold;
    font-size: .75em;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}

.medium {
  width: 75%;
}

.ginput_container {
  input {
    background: lighten($borderColor, 1.5%);
    color: $darkColor;
    @include border-radius(2px);
    padding: 10px;
    width: 100%;
    @include transition(background .2s ease-in-out);
    &:focus {
      background: lighten($borderColor, 3%);
    }
  }
  textarea{
    background: lighten($borderColor, 1.5%);
    color: $darkColor;
    @include border-radius(2px);
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
    @include transition(background .2s ease-in-out);
    &:focus {
      background: lighten($borderColor, 3%);
    }
  }
}

.gfield_date_month, .gfield_date_day, .gfield_date_year {
  display: inline-block;
  width: 20%;
  label {
    color: lighten($darkColor, 45%);
    font-weight: bold;
    font-size: .75em;
  }
}

.gfield_date_day {
  margin: 0 2.5%;
}

.gfield_description {
  font-size: .7em;
  margin: 00.78125% 0 0;
}

.gfield_required, .validation_error, .validation_message {
  color: #e54a4f;
}

.validation_error {
  margin: 0 0 02.34375%;
  font-weight: bold;
}

::-webkit-input-placeholder {
   color: lighten($darkColor, 50%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($darkColor, 50%);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($darkColor, 50%);  
}

.button {
  background: $linkColor;
  @include border-radius(2px);
  padding: 8px 15px;
  color: white;
  font-weight: bold;
  @include transition(background .2s ease-in-out);
  &:hover {
    background: darken($linkColor, 10%);
  }
}