footer {
  border-top: 1px solid $borderColor;
  padding: 5% 0 5% 5.5%;
  @media screen and (max-width: 700px ) {
    padding: 5% 0;
  }
  small {
    font-size: .8em;
    font-weight: bold;
    display: block;
    margin: 0 0 1%;
  }
}