
//Portfolio Styles

.projects {
  .entry {
    &:last-child {
      margin-bottom: 0;
      background: red;
    }
  }
  h2 {
    font-size: 2em;
    font-weight: 800;
    small {
      color: lighten($darkColor, 50%);
      display: block;
      font-size: .5em;
      line-height: 100%;
      text-transform: uppercase;
    }
  }
}

.cta {
  background: $jazzColor;
  padding: 3% 0;
  text-align: center;
  color: white;
  font-weight: bold;
  a {
    color: darken($jazzColor, 40%);
    border-bottom: none;
    &:hover {
      color: darken($jazzColor, 30%);
    }
  }
}

.work-full {
  margin: 0 5% 8%;
  max-width: 1700px;
}

.project-info {
  list-style-type: none;
  margin: 0 0 8% 10%;
  li {
    border-bottom: 1px solid $borderColor;
    font-size: .95em;
    &:last-child {
      border-bottom: none;
    }
  }
}