$darkBlue: #333842;
$linkColor: #ed835d;
$jazzColor:#fe524f;
$lightBlue: #a7bcc8;
$gray: #333;
$bodyColor: #18313d;

a, .send {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
}

@mixin transitions {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}