/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: 30px;
	font-size: 16px;

	overflow: hidden;
}

.wp-pagenavi a {
	background: -moz-linear-gradient(top, #ffa102 0%, #ff7502 100%);
	background: -o-linear-gradient(top, #ffa102 0%, #ff7502 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa102), color-stop(100%,#ff7502));

	border: 1px solid rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3);

	padding: 5px 8px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	color: white;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.nextpostslink {
	float: right;
}

.previouspostslink {
	float: left;
}


.wp-pagenavi a:active {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	box-shadow: inset 0 0 5px rgba(0,0,0,.3);
}
