@import "bits";

@mixin sans {
  font-family: "proxima-nova",sans-serif;
}

@mixin serif {
  font-family: "ff-tisa-web-pro",serif;
}

@mixin iconfont {
  font-family: "Pictos";
}

h1, h2, h3, h4, h5, h6 {
  @include sans;
}

h3 {
  color: $darkBlue;
  font-weight: bold;
  font-size: 1.6em;
  margin: 03.125% 0 02.34375%;
}

strong {
  font-weight: bold;
}

em, cite {
  font-style: italic;
}

blockquote {
  border-left: 10px solid $darkBlue;
  padding-left: 20px;
  margin: 0 0 03.125%;
  small {
    display: block;
    font-size: .80em;
    margin: 02.34375% 0 0;
    &:before {
      content: "—";
      color: lighten($darkBlue, 40%);
    }
  }
}

ul, .show-notes {
  list-style-type: square;
  margin: 0 0 03.125% 20px;
  li {
    font-size: 1.18em;
    line-height: 140%;
    padding: 01.25% 0;
    &:last-child {
      padding: 01.25% 0 0;
    }
  }
}

ol {
  list-style-type: decimal;
  margin: 0 0 0 25px;
  li {
    margin: 0 0 03.125%;
  }
}

pre {
  font-family: monospace;
  background: #193449;
  color: #e0e17a;
  padding: 20px;
}


[data-icon]:before {
  content: attr(data-icon);
  @include iconfont;
  speak: none;
}

@font-face {
  font-family: 'Pictos';
  src: url(../img/fonts/pictos-web.eot);
  src: local('☺'), url(../img/fonts/pictos-web.woff) format('woff'), url(../img/fonts/pictos-web.ttf) format('truetype'), url(../img/fonts/pictos-web.svg#webfontIyfZbseF) format('svg');
  font-weight: normal;
  font-style: normal;
}