@import "type";
@import "bits";
@import "compass/css3";


h2 {
  font-size: 2.2em;
  line-height: 1.2;
  margin: 3% 0;
  small {
    font-size: .65em;
    color: $lightBlue;
    font-weight: normal;
    &:before {
      content: "//";
      margin: 0 5px;
    }
  }
}

.project-info {
  border-top: 1px solid lighten($lightBlue, 10%);
  border-bottom: 1px solid lighten($lightBlue, 10%);
  margin: 10px 0 30px;
  list-style: none;
  li {
    @include sans;
    border-right: 1px solid lighten($lightBlue, 10%);
    display: inline-block;
    margin: 0 10px 0 0 !important;
    padding: 10px 10px 10px 0;
    font-size: .90em;
    &:last-child {
      margin: 0;
      border-right: none;
    }
  }
}

.button {
  @include sans;
  background: $linkColor;
  border-bottom: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 30px;
  &:hover {
    background: $gray;
  }
}


.work-full {
  max-width: 1700px;
  margin: 50px auto;
}

p.next-one {
  text-align: center;
  margin: 30px 0 0 0;
}

.cta {
  background: white;
  padding: 3%;
  margin: 0 auto;
  @include border-radius(4px);
  p {
    margin: 0;
    color: $darkBlue;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
}

footer {
  border-top: none;
  padding-top: 30px;
}

.entry, {
  h2 {
    font-size: 2.2em;
    line-height: 1.2;
    margin: 3% 0;
  }
}

.page-template-single-portfolio-php {
  .content {
    border-top: none;
  }
}

@media screen and (max-width: 588px) {

.project-info {
  border-top: none;
  border-bottom: none;
  li {
    border-bottom: 1px solid lighten($lightBlue, 10%);
    border-right: none;
    display: block;
    padding: 5px 0;
    margin: 0;
  }
}

}














