/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	padding-top: 20px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 30px;
	font-size: 16px;
}

.wp-pagenavi a {
	text-decoration: none;
	padding: 3px 8px;
	margin-right: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	color: #fff;
	background: #ff8b02;
	
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}


.wp-pagenavi a:hover {
	color: #fff;
	background: #aaa;
	border-bottom: none;
}
