@media screen and (max-width: 768px) {
	
		#wrap {
			width: 100%;
			padding: 0 30px;
			box-sizing: border-box;
			margin: 30px auto;
		}

		input#s {
		width: 80%;
	}
	
	input#searchsubmit {
		width: 15%;
	}
	
}

@media screen and (max-width: 480px) {
	
	h2 {
		font-size: 30px;
	}
	
	small.link-post a {
		font-size: 14px;
	}

	p {
		font-size: 18px;
	}

	blockquote p {
		padding-left: 60px;
	}
	
	.onecol {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	
	input#contactName, input#email {
		width: 100%;
		margin-right: 0;
	}

	.main-content {
		margin: 40px auto 0;
	}


	.nav {
		margin: 10px auto;
	}
	
	input#s {
		width: 73%;
	}
	
	input#searchsubmit {
		width: 24%;
	}
	
	
	
	
	
	
	
	
	
	
	
}

@media screen and (max-width: 320px) {
	
	.nav li {
		margin-right: 10px;
	}
	
	input#s {
		width: 73%;
	}
	
	input#searchsubmit {
		width: 24%;
	}

	h5 {
		font-size: 20px;
	}
	
		h5 small {
			font-size: 16px;
		}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}
